.w-100 {
  height: 420px;
}

.translate-grid,
.footer-block,
.footer-touch {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.translate-grid h1 {
  color: #14a800;
}

.content {
  margin-top: 68px;
}

.card {
  padding-top: 45px;
}

.css-1t6e9jv-MuiCardActions-root {
  justify-content: center;
}

.instruction-card {
  min-height: 279px;
}

.home-media:hover {
  border: 2px solid #14a800;
  cursor: pointer;
}

.footer-time {
  display: flex;
  justify-content: space-between;
}

.MuiButtonGroup-root {
  height: 35px;
  margin-top: 30px;
}
.MuiButtonGroup-root input{
  height: 1px;
  background-color: white;
}

.update-card {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  width: 100%;
  background-color:#f2f7f2
}

.update-card h2 {
  color: #001e00;
}

.update-card:hover {
  background-color: #e8efe8;
}

.update-card-body {
  border-top: 1px solid gray;
}

.update-continue-btn {
  display: flex;
  justify-content: end;
}