.menu-item
{
  color: #5e6d55;
  text-decoration: none;
}

.logo,
.logo:hover
.menu-item:hover {
  color: #14a800 !important;
  text-decoration: none;
}

.menu-item-collapse {
  color: #000;
}

.logo:hover {
  text-shadow: 2px 2px gray;
}

.css-i4bv87-MuiSvgIcon-root
 {
  color: #14a800;
}
